/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    /* scroll-behavior: smooth; */
}


img{
    display: block;
    width: 100%;
}
/* utility */
.wrapper{
    height: 100vh;
    background-color: black;
}

.container{
    width: 90%;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: end;
}
.margin-header{
    border-radius: 5px;
}
.margin-header,.main-pinco{
    margin-right: 10px;
    background-color:rgba(180, 180, 180, 0.4);
    padding: 5px 5px;
    
}
.margin-box{
    margin: 20px 0;
    
}
.flex{
    display: flex;
    align-items: center;

}
.icon{
    padding-bottom: 10px;
}
/* fine-utility */

/* header */
.header{
    padding: 10px 0px;

}
/* main */
.main-row{
    /* overflow-y: auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;

}
.main-content{
    width: calc(100% / 7 - 5px);
position: relative;
}
 .main-card{
   

    
}
.main-pinco{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}


/* footer */

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    /* padding: 0px 10px; */
}
.footer-row{
    justify-content: space-between;
}
.footer-start{
 
}
.start-row{
}
.footer-center{}
.share-screen i{
    color: lime;
}
.footer-end{
    background-color: rgba(180, 180, 180, 0.4);
    color: red;
    display: inline-block;

}
.footer-end span{
    display: inline-block;
    padding: 30px;
}
.space{
    padding: 0 10px;
    text-align: center;
}